$black: #000;
$white: #fff;
$red: red;
$appRed: rgb(225, 59, 59);
$app-button-red: #ff4d4d;
$app-button-grey: #b1b1b1;

//font-family
$font-family-rubik: Rubik,sans-serif;

//font-size
$font-size-30: 30px;
$font-size-20: 20px;