<div class="main-wrapper">
    <div class="user-profile-container">
        <div class="user-profile-wrapper">
            <p>User Profile</p>
        </div>
    </div>

    <div data-wy="'a'" class="user-data-container">
        <!-- <div class="uploaded-video-count count-des">
            <b>
                Uploaded -   <span>{{ uploadedVideoCount }}</span>
            </b>
        </div>
        <hr> -->
        <div class="converted-video-count count-des">
            <b>
                Converted -   <span>{{ convertedVideoCount%1000 }} {{ convertedVideoCount > 1000 ? 'K': ''}}</span>
            </b>
        </div>

    </div>

    <!-- <app-dynamic-component></app-dynamic-component> -->
</div>